<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Animated thank you page template free download |  thank you page design in html with source code</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Righteous&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<link rel="stylesheet"  href="../static/css/thankyou_page.css" media="all" />
<link rel="stylesheet"  href="../static/css/style_index.css" media="all" />
</head>

<body class="bodyclass">

  
            <div class="box">
               <h1>Thank You</h1>
               <p>Thank you for the Feedback</p>
               <div class="pyro">
                 <div class="before"></div>
                 <div class="after"></div>
               </div>
           
               <div class="atag centerclass margin1">
                <a href="/" class="btn">Main Page</a>
            </div>

</body>
</html>
